body {

    margin: 0 auto;
    grid-template-columns: 1fr 3fr 1fr;
    display: grid;
    background: bisque;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

main {

    width: auto;
    min-width: 930px;
    grid-column-start: 1;
    grid-column-end: 4;
    height: auto;
    background: bisque;
    margin-top: 160px;
    margin-bottom: 50px;
}

#game {
    background: lightgray;
    border-radius: 10px;
    border: 5px darkslategray solid;
}

section {
    margin-bottom: 10px;
    margin-top: 10px;
}

header {
    min-height: 75px;
    grid-column-start: 1;
    grid-column-end: 5;
}

footer {
    align-content: center;
    min-height: 75px;
    background: #CCB69D;
    grid-column-start: 1;
    grid-column-end: 5;
}

nav {
    align-content: center;
    min-height: 50px;
    grid-column-start: 1;
    grid-column-end: 5;
    background: #D6C5B1
}

aside {
    min-height: 100%;
    min-width: 100%;
    margin: auto;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-items: center;
    background: bisque;
    padding-bottom: 50px;


}

#board {
    border: 10px solid darkgray;
    background-color: lightgray;

    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

table {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    background: lightgray;
}

th, td {


    padding: 0.5em 0 0.5em 0;

    border: 0;

}

tr:nth-child(even) {
    background-color: navajowhite;
}

/*tr:nth-child(even) {
    background-color: bisque;
}*/

button image {
    border: none;
    height: 80px;
    width: 80px;

}

.tile {
    width: 34px;
    height: 34px;
    border: 1px solid floralwhite;

    /* text */
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    /* Chrome, Opera */
    -webkit-touch-callout: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Standard property */
}

.tile-unclicked {
    background-color: lightgray;
}

.tile-clicked {
    background-color: darkgrey;
}

.tile-flagged {
    content: url("images/flag.png");
}

.mine {
    content: url("images/mine.png");
}

.x1 {
    color: blue;
}

.x2 {
    color: green;
}

.x3 {
    color: red;
}

.x4 {
    color: navy;
}

.x5 {
    color: brown;
}

.x6 {
    color: teal;
}

.x7 {
    color: black;
}

.x8 {
    color: gray;
}

button img {
    height: 48px;
    width: 48px;
}

.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    text-align: center;
    -moz-appearance: textfield;
}

button {
    border-radius: 10px;
    border: 1px black solid;
    background-color: #dadada;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    margin-left: 25px;
    margin-right: 25px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 15px;
    min-width: 350px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: auto;
    height: auto;
    bottom: 100%;

}

.dropdown-content fieldset {
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover button {
    background-color: darkgray;
}

@media only screen and (min-width: 1620px) {

    body {
        max-width: 1620px;
    }

    main {
        align-content: center;
        margin-bottom: 160px;


        grid-column-start: 1;
        grid-column-end: 4;
    }

    aside {
        align-content: center;
        grid-column-start: 4;
        grid-column-end: 5;
    }
}

