body {
    background: bisque;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

#board {

    border: 10px solid darkgray;
    background-color: lightgray;

    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
table, th, td {
    border:1px solid black;
}

button image {
    border: none;
    height: 80px;
    width: 80px;
}

#board div {
    width: 48px;
    height: 48px;
    border: 1px solid whitesmoke;

    /* text */
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    /* Chrome, Opera */
    -webkit-touch-callout: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Standard property */
}

.tile-unclicked{
    background-color: lightgray;
}

.tile-clicked {
    background-color: darkgrey;
}

.tile-flagged{
    content:url("images/flag.png");
}

.mine{
    content: url("images/mine.png");
}

.x1 {
    color: blue;
}

.x2 {
    color: green;
}

.x3 {
    color: red;
}

.x4 {
    color: navy;
}

.x5 {
    color: brown;
}

.x6 {
    color: teal;
}

.x7 {
    color: black;
}

.x8 {
    color: gray;
}

button img {
    height: 48px;
    width: 48px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    text-align: center;
    -moz-appearance: textfield;
}

input[type=image] {
    background: lightgray;
    border-radius: 15px;
    height: 80px;
    width: 80px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 15px;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    width: 350px;
    height: 350px;
}

.dropdown-content fieldset{
    padding-bottom: 25px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

